doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Шпаргалка по js
		meta(name="description" content="")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="css/main-style.css")

	body
		header
			.container
				nav
					ul
						each item in menu
							li
								a(href= item.url)= item.title

		main
			block content

		footer
			.container
				p Здесь будущий футер, пока не понятно, что сюда поместить.


		block script
