extends templates/layout

block style
	link(rel="stylesheet" href="./css/main-style.css")


block content
	.container
		h1 Шпаргалки по js

		nav
			ul
				li
					a(href="theme-switcher.html") переключить тему (темную и светлую)
				li
					a(href="likes-counter.html") подсчет лайков (условия)
				li
					a(href="news-comments.html") комментарии
				li
					a(href="todo-list.html") список задач

